$fg:#dadada;
$bg:#141b1e;
$bg-2:lighten($color: $bg, $amount: 4);
$bg-3:lighten($color: $bg, $amount: 8);
$bg-4:lighten($color: $bg, $amount: 12);
$gray:lighten($color: $bg, $amount: 24);

$blue:#67b0e8;
$green:#8ccf7e;
$red:#e57474;
$yellow:#e5c76b;
$orange:#e89f8c;
