$fg:#D3C6AA;
$bg:#2B3339;
$bg-2:lighten($color: $bg, $amount: 4);
$bg-3:lighten($color: $bg, $amount: 8);
$bg-4:lighten($color: $bg, $amount: 12);
$gray:lighten($color: $bg, $amount: 24);

$blue:#83c092;
$green:#83c092;
$red:#e68183;
$yellow:#dbbc7f;
$orange:#e69875;
