$fg:#c7b89d;
$bg:#1e2122;
$bg-2:lighten($color: $bg, $amount: 4);
$bg-3:lighten($color: $bg, $amount: 8);
$bg-4:lighten($color: $bg, $amount: 12);
$gray:lighten($color: $bg, $amount: 24);

$blue:#7daea3;
$green:#89b482;
$red:#ec6b64;
$yellow:#e0c080;
$orange:#e78a4e;
