$fg:#D8DEE9;
$bg:#2a303c;
$bg-2:lighten($color: $bg, $amount: 4);
$bg-3:lighten($color: $bg, $amount: 8);
$bg-4:lighten($color: $bg, $amount: 12);
$gray:lighten($color: $bg, $amount: 24);

$blue:#81A1C1;
$green:#A3BE8C;
$red:#d57780;
$yellow:#EBCB8B;
$orange:#e39a83;
