$fg:#171717;
$bg:#ffffff;
$bg-2:darken($color: $bg, $amount: 3);
$bg-3:darken($color: $bg, $amount: 6);
$bg-4:darken($color: $bg, $amount: 9);
$gray:darken($color: $bg, $amount: 22);

$blue:#0d8ef8;
$green:#268c5c;
$red:#e03434;
$yellow:#df9311;
$orange:#e86c13;
