$fg:#d9d9d9;
$bg:#171717;
$bg-2:lighten($color: $bg, $amount: 4);
$bg-3:lighten($color: $bg, $amount: 8);
$bg-4:lighten($color: $bg, $amount: 12);
$gray:lighten($color: $bg, $amount: 24);

$blue:#76bef9;
$green:#7dc5a2;
$red:#ff7575;
$yellow:#f4c25f;
$orange:#fa8a40;
