$fg:#383a42;
$bg:#fafafa;
$bg-2:darken($color: $bg, $amount: 5);
$bg-3:darken($color: $bg, $amount: 9);
$bg-4:darken($color: $bg, $amount: 13);
$gray:darken($color: $bg, $amount: 44);

$blue:#4078f2;
$green:#50a14f;
$red:#d84a3d;
$yellow:#dea95f;
$orange:#d75f00;
