Xft.autohint: 0
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.dpi: 96

st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=15

! window padding
st.borderpx: 20

!- 0.1 to 0.9 = transparency
st.alpha: 1.0

Xcursor.theme: Volantes_Curor

#include "./.config/themes/xresources/scaryforest"
